streamlit
langchain
langchain-community
langchain-chroma
faiss-cpu
openai
tiktoken
pypdf
umap-learn
plotly
python-dotenv
scikit-learn
numpy
scipy
pandas
requests
beautifulsoup4
lxml
chromadb==0.4.24
protobuf==3.20.3
